html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 70px;
    margin-bottom: 40px;
    color: white;
    background-color: #333;
}

.navbar-default .navbar-brand {
    color: rgb(0, 189, 210);
    font-size: 140%;
    font-weight: bolder;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: rgba(251, 222, 53, 0.92);
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
  margin: 10px 10px;
  color: #6B6969;
}

.btn-primary {
    color: #FFD900;
    background-color: #565454;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: black;
    color: #FFD900;
    border-color: transparent;
}

.dropdown-menu > li > a > i {
    margin-right: 6px;
}

.dropdown a.dropdown-toggle {
    padding: 5px;
    height: 100%;
}

.user-photo {
    max-width: 40px !important;
    border-radius: 100%;
    border: 2px solid #fff;
}

img.visit {
    width: 20%;
    height: 20%;
}

.picture-td {
    width: 50px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    cursor: pointer;
}

#devices-view {
    display: none;
}

/*-----Fila seleccionada en las Tablas--------*/
.table-hover > tbody > tr:hover {
  background-color: #424242;

}

/* Redefino colores de la barra de navegación*/

.navbar-style{
    background-color: #fff;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.navbar-footer{
    background: rgb(0, 189, 210);
    height: 15px;;
}

.navbar-default .active {
  color: black;
}

.navbar-default .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* Nav links */
.menu-us {
    font-weight: bolder;
    font-size: large;
}

.navbar-default .menu-us>li>a {
      color: black;
}

.navbar-default .menu-us > li > a:hover {
      color: black;
}

.navbar-default .color-item>li>a {
      color: black;
      font-weight: bold;
}

.navbar-default .color-item>li>a:hover,
.navbar-default .color-item>li>a:focus {
      color: black;
      text-decoration: none;
      background: rgba(207, 214, 249, 0.57);
      border-bottom: 5px solid #FFD900;
      padding-top: 10px;
}


/* ------ Degradado para el titulo de las paginas---- */

.titulo_ppal {
  background: -webkit-linear-gradient(white, #FFD900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFD900;
  /*font-family: serif;*/
  font-weight: 900;
  word-spacing: .2em;
  font-size: 300%;
  box-sizing: content-box;

}

.welcome-icon {
    padding-left: 15px;
    padding-top: 20px;
    font-size: 30px;
    display: inline-block;
}

/* ------- Menú de Visitantes --------- */

.showme {
    display: none;
    clear: both;
}

.showhim:hover .showme {
    display: block;
}

.menu_inicial {
    display:block;
    width:70%;
    color: #FFE448 ;
    position:relative;
    float:left;
    left:15%;
    vertical-align:middle;
    margin-top:20px;
    padding:5px;
    padding-left:20px;
    padding-right:20px;
    cursor:pointer;
    border-bottom-width:5px;
    border-bottom-color: #0F93D2;
    border-bottom-style:solid;
    -webkit-transition:1.5s ;
       -moz-transition:1.5s ;
         -o-transition:1.5s ;
            transition:1.5s ;
}

.menu_inicial h1 {
    font-size: 25px;
    font-weight: 500 !important;
    margin-bottom: 10px;
}

.menu_item {
    background-color: #333;
}

.menu_item:hover {
    opacity: 0.7;
    background-color: rgba(123, 132, 132, 0.6);
    color: white;
}

.seccion_texto {
    padding: 5px;
    transition-duration: 2s;
    font-size: 18px;
/*     font-style: italic; */
}

.container-form {
    width: 40%;
}

.owners-responsive {
    max-height: 230px;
    overflow-x: hidden;
    overflow:auto;

}

/* -- Tamaño de las imagenes de visita -- */
.marco-img{
    max-width: 350px;
}

.img-table{
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: auto;
    display: block;
}

/* --- Formularios -- */
.default-form{
    font-size: 16px;
    font-style: normal;
    font-size: 15px;
}

.default-form label{
    display:block;
    font-size: 110%;
/*     font-style:italic; */
}

.default-form select{
    padding: 5px;
    background-color:#424242;
    max-height: 200px;
    overflow: auto;
    border:none;
    border-bottom: 1px solid #5b5b5b;
    border-top: 1px solid #222222;
    color: #eaeaea;
}

.default-form input{
    background-color:#424242;
    padding: 4px;
    border:none;
    border-bottom: 1px solid #5b5b5b;
    border-top: 1px solid #222222;
    color: #eaeaea;
}

.default-form textarea{
    background-color:#424242;
    padding-left: 4px;
    border:none;
    border-bottom: 1px solid #5b5b5b;
    border-top: 1px solid #222222;
    color: #eaeaea;
}


.checked label{
    display:inline;
}

.h2, .h3,  h2, h3{
    color: #FFD900;
}

body th{
    color: #FFD900;
}

.btn-default{
    background-color: rgba(255,255,255,0.95);
}

.ringo-well {
    background-color: transparent;
    border-style: hidden;
}

