html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.dropdown-menu > li > a > i {
    margin-right: 6px;
}

.navbar-nav li.dropdown {
    height: 45px;
}

.dropdown a.dropdown-toggle {
    padding: 5px;
    height: 100%;
}

.user-photo {
    max-width: 40px !important;
    border-radius: 100%;
    border: 2px solid #fff;
}

img.visit {
    width: 20%;
    height: 20%;
}

.picture-td {
    width: 50px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    cursor: pointer;
}

#devices-view {
    display: none;
}