{% extends "_layout.html" %}

{% block title %}Edit owner{% endblock %}

{% block page_header %}
    <h1>Edit {{ owner.auth_user.first_name }}</h1>
{% endblock %}

{% block content %}
    <p>editing</p>
    <div class="col-sm-2 col-md-offset-5">
            <a href="javascript:history.back()" class="btn btn-primary btn-sm clearfix" >Confirm</a>
    </div>
    <div class="col-sm-2">
            <a href="javascript:history.back()" class="btn btn-primary btn-sm clearfix" >Cancel</a>
    </div>
{% endblock %}