{% extends "_layout.html" %}

{% block title %}Owners details{% endblock %}

{% block page_header %}
    <h1 style="text-align:center;">{{ owner.auth_user.get_full_name }}</h1>
{% endblock %}

{% block content %}
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 col-md-offset-4 control-label">User name</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{ owner.auth_user.username }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-md-offset-4 control-label">First name</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{ owner.auth_user.first_name }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-md-offset-4 control-label">Last name</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{ owner.auth_user.last_name }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-md-offset-4 control-label">Last login</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{ owner.auth_user.last_login }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 col-md-offset-4 control-label">Creation date</label>
            <div class="col-sm-6">
                <p class="form-control-static">{{ owner.auth_user.date_joined }}</p>
            </div>
        </div>
        <div class="col-sm-2 col-md-offset-5">
            <a href="{% url 'webadmin:owner_edit' owner.id %}" class="btn btn-primary btn-sm clearfix" style="margin-left:45px;">Edit owner</a>
        </div>


    </form>
{% endblock %}
