{% extends "_layout.html" %}

{% block title %}Owners & Devices{% endblock %}

{% block page_header %}
    <h1>Owners & Devices</h1>
{% endblock %}

{% block content %}
    <h2>Owners</h2>
    <table id="owner-table" class="table table-hover">
        <tbody>
        {% for owner in owners %}
            <tr>
                <td class="picture-td">
                    <img class="user-photo" src="{{ owner.get_picture_or_default }}">
                </td>
                <td>{{ owner.auth_user.get_full_name }}</td>

                {% if owner.device_set.count > 0 %}
                    <td>{{ owner.device_set.count }} device{{ owner.device_set.count|pluralize }}</td>
                {% else %}
                    <td>No devices</td>
                {% endif %}

                <td>
                    {% if request.user.id == owner.auth_user.id %}
                        Last seen: <strong>online now!</strong>
                    {% else %}
                        Last seen on <strong>{{ owner.auth_user.last_login | date:'DATETIME_FORMAT' }}</strong>
                    {% endif %}
                </td>

                <td>
                    <a href="{% url 'webadmin:owner_detail' owner.id %}" class="btn btn-default btn-sm">
                        <i class="fa fa-eye white"></i>
                    </a>
                    <a href="{% url 'webadmin:owner_edit' owner.id %}" class="btn btn-default btn-sm">
                        <i class="fa fa-pencil white"></i>
                    </a>
                    <a href="{% url 'webadmin:delete_owner' owner.id %}" class="btn btn-default btn-sm">
                        <i class="fa fa-trash white"></i>
                    </a>
                    <input type="hidden" class="owner-id" value="{{ owner.id }}">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="well clearfix" style="background-color: transparent; border-style:hidden;">
        <a href="{% url 'webadmin:create_owner' %}" class="btn btn-primary btn-sm pull-right clearfix">New owner</a>
    </div>
    {% csrf_token %}

    <div id="devices-view"></div>

    <script>
        $('#owner-table').find('tr').click(function() {
            var id = Number($(this).find('.owner-id').val());
            var token = $('input[name=csrfmiddlewaretoken]').val();
            var devices = $('#devices-view');

            devices.hide();

            $.post('', {id: id, csrfmiddlewaretoken: token}, function(data) {
                devices.html(data.html);
                devices.fadeIn();
            });
        });
    </script>
{% endblock %}
