{% extends "_layout.html" %}

{% block title %}Visit Details{% endblock %}

{% block page_header %}
    <h1 class="titulo_ppal text-center">Visit details</h1>
{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="marco-img center-block ">
            <img src="{{ visit.picture.picture.url }}" class="img-responsive">
        </div>

            <p class="seccion_texto"><strong>
            {% for visitor in visitors %}
               {{ visitor.name }}
            {% endfor %}
                {{ visitor.name }}
            {% if unknowns != 0 %}
                Unknown: {{ unknowns }}
            {% endif %}
            </strong></p>
            <p>
               <strong>Date:</strong> {{ visit.date }}
            </p>
            <a class="btn btn-primary" href="{% url 'webadmin:visit_update' visit.id %}">Change Visitor</a>

    </div>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

{% endblock %}

