{% extends "_layout.html" %}

{% block title %}Registro de visitas{% endblock %}

{% block page_header %}
    <h1 class="titulo_ppal text-center">Last visits</h1>
{% endblock %}

{% block content %}
    <div class="owners-responsive seccion_texto">
    {% if latest_visits_list %}
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Date / Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for visit in latest_visits_list %}
                    <tr>
                        <td>
                            <img src="{{ visit.picture.picture.url }}" class="img-table">
                        </td>
                        <td>
                            {% if visit.visitors.all %}
                                {% for v in visit.visitors.all %}
                                    {{ v.name }}
                                {% endfor %}
                            {% else %}
                                <strong>Unknown visitor</strong>
                            {% endif %}
                        </td>
                        <td>{{ visit.date }}</td>
                        <td>
                            <a class="btn btn-default" href="{% url 'webadmin:visit_detail' visit.id %}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No visits were made</p>
    {% endif %}
    </div>
{% endblock %}