{% extends "_layout.html" %}


{% block title %}Visitors{% endblock %}

{% block page_header %}
    <h1 class="text-center titulo_ppal">Known visitors</h1>
{% endblock %}

{% block content %}
    <div>
    <h1 class="text-center"><a class="btn btn-default" href="{% url 'webadmin:create_visitor' %}">New visitor?</a></h1>
    {% if visitor_list %}

    {% for visitor in visitor_list %}
    <div class="menu_inicial menu_item showhim">
        <h1 class="text-center">{{ visitor.name }}</h1>
        <div class="text-center showme seccion_texto"><!--showme-->
            {% if visitor.welcome %}
                <p>Friend</p>
            {% else %}
                <p>Not welcome</p>
            {% endif %}
            <div style="margin: 0px auto; box-sizing:content-box;">
                <a href="{% url 'webadmin:visitor_details' visitor.id %}" class="btn btn-default btn-sm">
                    <i class="fa fa-eye white"></i>
                </a>
                <a href="{% url 'webadmin:update_visitor' visitor.id %}" class="btn btn-default btn-sm">
                    <i class="fa fa-pencil white"></i>
                </a>
                <a href="{% url 'webadmin:delete_visitor' visitor.id %}" class="btn btn-default btn-sm">
                    <i class="fa fa-trash white"></i>
                </a>

            </div>
        </div>
    </div>

    {% endfor %}
    </div>
    {% else %}
        <p>No visitors saved!</p>
    {% endif %}


{% endblock %}