{% extends "_layout.html" %}

{% block title %}Visitantes{% endblock %}

{% block content %}
    <h3>List of stored visitors!</h3>
    {% if visitors_list %}
        <ul>
            {% for visitor in visitors_list %}
            <li>{{ visitor }}</li>
            <form action="{% url 'webadmin:visitor_details' visitor.id %}">
                <input type="submit" value="Go to details!">
            </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>No visitors saved!</p>
    {% endif %}
    <form action="{% url 'webadmin:create_visitor' %}">
        <input type="submit" value="Create a Visitor">
    </form>
{% endblock %}