{% extends "_layout.html" %}

{% block title %}Visitor details{% endblock %}

{% block page_header %}
    <div class="text-center">
        <p class="titulo_ppal" style="display:inline">{{ visitor.name }}
        </p>
        {% if visitor.welcome %}
        <span class="glyphicon glyphicon-ok-sign welcome-icon" aria-hidden="true"></span>
        {% else %}
        <span class="glyphicon glyphicon-remove-sign welcome-icon" aria-hidden="true"></span>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'webadmin:visitor_list' %}" class="btn btn-default btn-sm">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        <a href="{% url 'webadmin:update_visitor' visitor.id %}" class="btn btn-default btn-sm">
            <i class="fa fa-pencil white"></i>
        </a>
        <a href="{% url 'webadmin:delete_visitor' visitor.id %}" class="btn btn-default btn-sm">
            <i class="fa fa-trash white"></i>
        </a>

    <br>
    <h2 style="font-style:italic;">Last visits from {{ visitor.name.split.0 }}</h2>

    <div class="row">
        {% for visit in visitor.visit_set.all %}
            <div class="marco-img center-block">
                <img src="{{ visit.picture.picture.url }}" class="img-responsive">
            </div>
            <p><strong>Date:</strong>{{ visit.date }}</p>

        {% endfor %}
    </div>

    </div>
{% endblock %}
