{% extends "_layout.html" %}

{% block title %}Create Visitor{% endblock %}

{% block page_header %}
    <h1 class="titulo_ppal">New Visitor</h1>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="seccion_texto">
    <p >Name: {{ form.name }}
    <p>Welcome: {{ form.welcome }}
    </div>

    <div style="display: none">
        {{ form.next }}
    </div>

    <button type="submit" class="btn btn-primary">Create</button>

    <a href="{% url 'webadmin:visitor_list' %}" type="button" class="btn btn-primary">Cancel</a>
</form>
{% endblock content %}
