{% extends "_layout.html" %}

{% block title %}Visitor details{% endblock %}

{% block page_header %}
    <h1>Visitor details</h1>
{% endblock %}

{% block content %}
    <h4>Name: {{ visitor.name }}</h4>
    <h4>Is he welcome?: {{ visitor.welcome }}</h4>
    <h4>Last visits from {{ visitor.name.split.0 }}</h4>
    {% for visit in visitor.visit_set.all %}
        <p><img class="visit" src="{{ visit.picture.picture.url }}"></p>
    {% endfor %}
    <a class="btn btn-primary" href="{% url 'webadmin:update_visitor' visitor.id %}">Edit visitor</a>
{% endblock %}
