{% extends "_layout.html" %}

{% block title %}Visitor details{% endblock %}

{% block page_header %}
    <div>
        <div class="titulo_ppal" style="float:left">{{ visitor.name }}
        </div>

            {% if visitor.welcome %}
            <span class="glyphicon glyphicon-ok-sign welcome-icon" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove-sign welcome-icon" aria-hidden="true"></span>
            {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'webadmin:visitor_list' %}" class="btn btn-default btn-sm">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        <a href="{% url 'webadmin:update_visitor' visitor.id %}" class="btn btn-default btn-sm">
            <i class="fa fa-pencil white"></i>
        </a>
        <a href="{% url 'webadmin:delete_visitor' visitor.id %}" class="btn btn-default btn-sm">
            <i class="fa fa-trash white"></i>
        </a>

    <br>
    <h2 style="font-style:italic;">Last visits from {{ visitor.name.split.0 }}</h2>

    <div class="row">
        {% for visit in visitor.visit_set.all %}
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="{{ visit.picture.picture.url }}">
                </a>
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}
