{% extends "_layout.html" %}

{% block title %}Edit Visitor{% endblock %}

{% block page_header %}
    <h1 class="titulo_ppal">Edit visitor</h1>
{% endblock %}

{% block content %}
    <form class="default-form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary" type="submit" >
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>

        <a href="{% url 'webadmin:visitor_list' %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
    </form>
{% endblock %}
