<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2>Visit Details</h2>
<h3>Visitors:</h3>
<ul>
    {% for visitor in visitors %}
        <li><h4>Mr. {{ visitor.name }}</h4></li>
    {% endfor %}
    {% if unknowns != 0 %}
        <li>Unknown: {{ unknowns }}</li>
    {% endif %}
</ul>
<h3>Date: {{ visit.date }}</h3>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<p>
Here will be displayed every visit detail of the visit, including an
audio message left by the visitor
</p>

</body>
</html>

