{% extends "_layout.html" %}

{% block title %}Update Visit{% endblock %}

{% block page_header %}
    <h1 class="titulo_ppal text-center">Edit Visit</h1>
{% endblock %}

{% block content %}
    <form action="" method="post" class="default-form text-center">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary" type="submit">Update</button>

        <a class="btn btn-primary" href="{% url 'webadmin:create_visitor' %}?next={% url 'webadmin:visit_update' visit.id %}" role="button">New visitor?</a>
        <a class="btn btn-primary" href="{% url 'webadmin:visit_list' %}" role="button">Cancel</a>
    </form>
    <p></p>
{% endblock %}
