{% extends "_layout.html" %}

{% block title %}Detalles de visita{% endblock %}

{% block content %}
    <h2>Visit Details</h2>
    <h3>Visitors:</h3>
    <ul>
        {% for visitor in visitors %}
            <li><h4>Mr. {{ visitor.name }}</h4></li>
        {% endfor %}
        {% if unknowns != 0 %}
            <li>Unknown: {{ unknowns }}</li>
        {% endif %}
    </ul>

    <img src="{{ visit.picture.picture.url }}">
    <h3>Date: {{ visit.date }}</h3>

    {% if unknowns != 0 %}
        <p>There seems to be some unknown visitors, would you like to store them?</p>
        <form action="{% url 'webadmin:create_visitor' %}">
            <input type="submit" value="Create Unknown">
        </form>
    {% endif %}

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <a class="btn btn-primary" href="{% url 'webadmin:visit_update' visit.id %}">Not the right visitor?</a>
{% endblock %}