{% extends "_layout.html" %}

{% block title %} Contact us! {% endblock %}

{% block page_header %}
    <h1 class="titulo_ppal">Contact us!</h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error {{ form.errors | pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post" class="default-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <a class="btn btn-primary" type="submit"> Submit</a>
    </form>
{% endblock %}
