{% extends "_layout.html" %}

{% block title %} Contact us! {% endblock %}

{% block page_header %}
    <h1>Contact us!</h1>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error {{ form.errors | pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}
