<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <h3>This will be the index page for the website!!</h3>
</head>
<body>
    <ul>
        <li>
             <a href="{% url 'webadmin:visit_record' %}">Go to visit record</a>
        </li>
        <li>
            <a href="{% url 'webadmin:visitor_management' %}">Go to visitors page</a>
        </li>
        <li>
            <a>TODO: Settings</a>
        </li>
    </ul>
</body>
<footer>
    <a href="{% url 'webadmin:contact' %}">Contact us!</a>
    <p> &copy;2015 All rights reserved. Ringo Inc.</p>
</footer>
</html>