{% extends "_layout.html" %}

{% block title %}Ringo web administration{% endblock %}

{% block page_header %}
    <h1>Home</h1>
{% endblock %}

{% block content %}
    <ul>
        <li>
             <a href="{% url 'webadmin:visit_list' %}">Go to visit record</a>
        </li>
        <li>
            <a href="{% url 'webadmin:visitor_list' %}">Go to visitors page</a>
        </li>
        <li>
            <a href="{% url 'webadmin:configuration_update' 1 %}"> Settings </a>
        </li>
    </ul>
{% endblock %}
